*{
    box-sizing: border-box;
    margin: 0%;
}

html{
    scroll-behavior: smooth;
}

h1, h2, li{
    font-family: "Freeman", sans-serif;
}

p, a{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 0.8rem;
    font-weight: 400;
    text-decoration: none;
}

span{
    color: rgb(158, 139, 104);
}

.contenedor__main{
    min-height: 100vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.9),
        rgba(0,0,0,0.9)
    )
    ,url('/main.avif');
}

.encabezado{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px;
}

.logo{
    font-size: 1.4rem;
    color: white;
}

.menu__main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.menu__main > a{
    color: white;
    font-weight: bold;
    padding: 8px;
}

.menu__main > a:hover{
    background-color: rgb(173, 153, 120);
    border-radius: 10px;
}

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    min-height: 86vh;
}

.info__main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    padding: 20px;
    color: white;
}

.parrafo__main{
    max-width: 400px;
    padding: 4px;
    border: 2px dashed rgb(158, 139, 104);
}

.info__main > h1{
    font-size: 4rem;
    letter-spacing: 2px;
}

.info__main > h2{
    font-size: 2rem;
}

.imagenes{
    max-width: 400px;
    padding: 20px;
    position: relative;
}

.imagenes > img{
    width: 100%;
}

.imagenes__info{
    background-color: rgb(51, 43, 30);
    width: 80px;
    min-height: 80px;
    color: white;
    border-radius: 100%;
    border: 2px dashed white;
    outline: 4px solid rgb(51, 43, 30);
    position: absolute;
    bottom: 0%;
    left: 0%;
}

.imagenes__info > p{
    font-family: "Freeman", sans-serif;
    max-width: 100%;
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100%;
}

.content__product{
    margin-top: 80px;
    text-align: center;
}

.main__section{
    font-size: 2rem;
}

.slider{
    margin-top: 40px;
}

.main__product{
    background-color: rgb(75, 73, 53);
    max-width: max-content;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    color: white;
    font-weight: bold;
}

.card > h2{
    font-size: 1.1rem;
    font-weight: 200;
}

.card > img{
    max-width: 200px;
}

.info__general{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 4px;
}

.rebaja{
    font-weight: bold;
    background-color: rgb(56, 48, 31);
    color: white;
    padding: 9px;
    border-radius: 9px;
}

.precio{
    text-decoration: line-through;
    background-color: rgb(200, 37, 37);
    color: white;
    padding: 9px;
    border-radius: 9px;
}

.cards{
    background-color: antiquewhite;
}

.main__info{
    margin-top: 20px;
    font-size: 2rem;
}

.content__main{
    max-width: 1200px;
    margin: auto;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 9px;
    text-align: left;
    box-shadow: 0px 0px 20px rgb(189, 185, 185);
}

.info__content{
    padding: 40px;
}

.image{
    max-width: 400px;
}

.image > img{
    max-width: 100%;
    padding: 20px;
}
.space{
    margin-bottom: 20px;
}

.ubicacion{
    max-width: 1200px;
    margin: auto;
}

.ubicacion > iframe{
    width: 100%;
    height: 200px;
    border: none;
}

.contact{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.9),
        rgba(0,0,0,0.9)
    )
    ,url('/main.avif');
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 20px;
    color: white;
    padding: 20px;
}

.menu__contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.menu__contact > a{
    color: white;
    font-weight: bold;
    padding: 8px;
    border-radius: 9px;
    background-color: rgb(73, 69, 55);
    width: 90px;
}



@media screen and (max-width: 1200px) {

   .encabezado{
    justify-content: center;
    text-align: center;
   }

   .info__main > h1{
    font-size: 2rem;
   }

   .info__main > h2{
    font-size: 1.1rem;
   }
    
    .hero{
        justify-content: center;
        text-align: center;
    }

    .content__main{
        justify-content: center;
    }

    .ubicacion > iframe{
        padding: 20px;
    }
    
    .contact{
        grid-template-columns: 1fr;
    }
}
